.table{
	border-collapse:collapse;
	border:2px solid black;
	width:100%;
}

.head{
	background-color:blue;
	text-align:center;
}

.white{
	text-align:center;
}

.grey{
	text-align:center;
	background-color:grey;
}